//Created by cranabahu on 12/14/14.

template(name="assignTask")
   #page-wrapper
      .row
         .col-lg-12
            h1.page-header Assign Task
      .row
         .col-lg-12
            .panel.panel-default
               .panel-heading
                  | Assign
               .panel-body
                  .row
                     fieldset(disabled="")
                        form
                           .form-group
                              each task
                                 .col-lg-6
                                    label Task Id
                                    input.form-control(type="text", name="taskId", value='#{taskId}')
                                    label Repair part
                                    input.form-control(type="text", name="repairPart", value='#{repairPart}')
                                 .col-lg-6
                                    label Customer
                                    input.form-control(type="text", name="customer", value='#{customer}')
                                    label Status
                                    input.form-control(type="text", name='status', value='#{status}')
      +assignee

template(name="assignee")
   .row
      .col-lg-12
         h3.page-header Available Agents
   .row
      .col-lg-12
         .panel.panel-default
            .panel-heading
               | Assign
            .panel-body
               .table-responsive
                  table.table.table-striped.table-bordered.table-hover
                     thead
                        tr
                           th Emp NO
                           th Name
                           th Last working place
                     tbody
                        each availableEmp
                           tr.odd.gradeX
                              td #{empNo}
                              td #{name}
                              td #{location}
               a.btn.btn-primary.dispatch(type="button", href="/task/assignTask") Assign